@model PetHospital.Web.Models.Entities.AppointmentViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AppointmentViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCita" />
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPet" class="control-label"></label>
                <input asp-for="IdPet" class="form-control" />
                <span asp-validation-for="IdPet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVeterinario" class="control-label"></label>
                <input asp-for="IdVeterinario" class="form-control" />
                <span asp-validation-for="IdVeterinario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotivoCita" class="control-label"></label>
                <input asp-for="MotivoCita" class="form-control" />
                <span asp-validation-for="MotivoCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
